/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700); 
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic); 

// fonts
$font-family-sans-serif: Lato, sans-serif !default;
$presentation-font-size-root: 30px !default;
$presentation-heading-color: #e6002e;

// font sizes
#TOC {
  font-size: larger;
  font-weight: bold !important;
}

// colors
$body-bg: #fff !default;
$body-color: #04316a !default;
$link-color: #971B2F !default;
$selection-bg: #C50F3C;

// headings
$presentation-heading-font: News Cycle, sans-serif !default;


/*-- scss:rules --*/
.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 5% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}


// custom background classes

//general l1 background
.backgrounds .slide-background.slide.level1
{
  background-color: #e6002e;
}

//background: agenda
.backgrounds .slide-background.slide.level1.present.bg_agenda
{
  background: url('../../../../../img/background_agenda.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

.backgrounds .slide-background.slide.level1.present.bg_agenda_local
{
  background: url('../../../../img/background_agenda.png') !important;
  background-size: cover !important;
  background-position: center !important;
}



//background: orga
.backgrounds .slide-background.slide.level1.present.bg_orga
{
  background: url('../../../../../img/background_orga.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

//background: end of session
.backgrounds .slide-background.slide.level1.present.bg_end_session
{
  background: url('../../../../../img/background_end_of_session.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

//background: group_activity
.backgrounds .slide-background.slide.level1.present.bg_group_activity
{
  background: url('../../../../../img/background_group_activity.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

//background: example
.backgrounds .slide-background.slide.level1.present.bg_example
{
  background: url('../../../../../img/background_example.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

//background: participation
.backgrounds .slide-background.slide.level1.present.bg_participation
{
  background: url('../../../../../img/background_participation.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

//background: questions
.backgrounds .slide-background.slide.level1.present.bg_questions
{
  background: url('../../../../../img/background_questions.png') !important;
  background-size: cover !important;
  background-position: center !important;
}


